.nav {
    background-color: blanchedalmond;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  .nav-links {
    display: flex;
    gap: 10px;
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  